{% extends "generic/object.html" %}
{% load render_table from django_tables2 %}
{# FIXME: Remove if we add change logging #}
{% block subtitle %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">
                Field Permission
            </h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ object.description }}</td>
                </tr>
                <tr>
                    <th scope="row">Enabled</th>
                    <td>{% checkmark object.enabled %}</td>
                </tr>
                <tr>
                    <th scope="row">Object Type</th>
                    <td>{{ object.content_type }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Assigned Users</h5>
            <div class="list-group list-group-flush">
                {% for user in object.users.all %}
                <a href="{% url 'users:user' pk=user.pk %}" class="list-group-item list-group-item-action">{{ user }}</a>
                {% empty %}
                <div class="list-group-item text-muted">None</div>
                {% endfor %}
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Assigned Groups</h5>
            <div class="list-group list-group-flush">
                {% for group in object.groups.all %}
                <a href="{% url 'users:group' pk=group.pk %}" class="list-group-item list-group-item-action">{{ group }}</a>
                {% empty %}
                <div class="list-group-item text-muted">None</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col col-md-6">
    <div class="card">
        <h5 class="card-header">
            Field Access
        </h5>
        {% render_table field_permission_table 'inc/table.html' %}
    </div>
</div>
</div>
{% endblock content %}
